:root{
--black:#000;
--red:#f60303;
--white:#fff;
--grey:#c1c1c1;
--lightgrey:#f1f1f1;
}

*{
    margin:0;
    scroll-behavior: smooth;
    transition: all 0.5s ease-in-out;
    font-family: "Open Sans";
}

a{
    text-decoration: none;
    color: var(--black);
}

ul{
    list-style: none;
    padding-left: 0;
}

/* header */

header{
    margin: auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

header ul{
    display: flex;
}

header li{
    padding: 20px;
    font-size: 16px;
}

header img{
    width: 180px;
}

header ul a:hover{
    color: var(--red);
/* mettre l'animation de la barre qui monte */
}



/* footer */
footer{
    max-width: 1440px;
    margin: auto;
}

#f1d2{
    background-color: var(--lightgrey);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    justify-content: space-between;
}

footer p{
    justify-self: center;
    padding: 20px;
}

.f1d1{
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 100px;
}

footer h2, footer ul li{
    padding: 10px;
}

footer a:hover{
    color: var(--red);
}

/* section 1 */
#s1{
    max-width: 1440px;
    margin: auto;
    padding: 20px;
}

#divsearch{
    display: flex;
    height: 34px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#divsearch i{
    background-color: var(--red);
    color:var(--white);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    align-content: center;
    padding-left: 5px;
    padding-right: 5px;
}

#divsearch button{
    background-color: var(--red);
    color: var(--white);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-style: none;
}

#divsearch input{
    border-color: var(--grey);
}

#categories{
    display: flex;
    align-items: center;
    gap: 40px;
}


#categories input{
    display: none;
}

#box1:checked + label {
    background-color: var(--red);
    color: var(--white);
}
#box2:checked + label {
    background-color: var(--red);
    color: var(--white);
}
#box3:checked + label {
    background-color: var(--red);
    color: var(--white);
}
#box4:checked + label {
  background-color: var(--red);
    color: var(--white);
}

#box1:checked + label i {
  color: var(--white);
}
#box2:checked + label i {
  color: var(--white);
}
#box3:checked + label i {
  color: var(--white);
}
#box4:checked + label i {
  color: var(--white);
}

#categories label{
    border-radius: 12px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--red);
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

#categories i{
    color: var(--red);
}


#s1d1{
    display: flex;
    padding-top: 40px;
    padding-bottom: 20px;
    align-items: center;
}

#s1d1 i{
    color: var(--red);
}

/* section 2 */
#s2{
    margin: auto;
    max-width: 1440px;
    display: flex;
    gap: 40px;
}

#s2 h2{
  padding-bottom: 40px;
}

#s2gd1{
    background-color:var(--lightgrey);
    padding: 40px;
    border-radius: 12px;
}

.s2ar1{
    background-color: var(--white);
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 270px;
}

.s2d1{
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}

.s2ga{
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
}

.s2di1, .s2di2, .s2di3, .s2di4, .s2di5, .s2di6{
    height: 160px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.s2di1{
    background-image: url(../img/Retiro-Park.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
}
.s2di2{
    background-image:url(../img/Royal-Palace-of-Madrid.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
}
.s2di3{
    background-image: url(../img/Puerta-del-Sol.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
}
.s2di4{
    background-image:url(../img/Plaza-Mayor.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
}
.s2di5{
    background-image:url(../img/Prado-Museum.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
}
.s2di6{
    background-image:url(../img/Gran-Vía.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
}

.s2di1 span, .s2di2 span, .s2di5 span{
    float: inline-end;
    background-color: var(--red);
    color: var(--white);
    margin: 5px;
    border-radius: 4px;
    font-size: 13px;
    padding: 4px;
}

.s2ar1 p{
    padding-bottom: 15px;
    padding-top: 6px;
}

.s2ar1 i{
    color: var(--red);
    padding-right: 4px;
}

.s2ar1 span i{
    color: var(--grey);
}

.s2dstar{
    gap: 8px;
}

.s2di8{
    background-image:url(../img/Gran-Vía.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
}
.s2di7{
    background-image: url(../img/Retiro-Park.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
}
.s2di9{
    background-image:url(../img/Puerta-del-Sol.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
}